fork = true
port = 27017
quiet = true
dbpath = /opt/mongodb/{{ dist }}/data
logpath = /opt/mongodb/{{ dist }}/log/mongod.log
pidfilepath =  /opt/mongodb/{{ dist }}/mongodb.pid
logappend = true
journal = true
